<!DOCTYPE html>
<html>
<head>
    <title>Liste des articles</title>
</head>
<body>
    <h1>Articles publiés</h1>
    <ul>
        {% for article in articles %}
            <li><strong>{{ article.titre }}</strong> - {{ article.date_creation }}</li>
        {% empty %}
            <li>Aucun article trouvé</li>
        {% endfor %}
    </ul>
    <ul>
        {% for user in utilisateurs %}
            <li><strong>{{ user.nom }}</strong> - {{ user.prenom }} - {{ user.email }}</li>
        {% empty %}
            <li>Aucun utilisateur trouvé</li>
        {% endfor %}
    </ul>
</body>
</html>
